<ion-header>
  <ion-navbar>
    <ion-title>{{artist}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="thisArtist">{{artist}}</ion-segment-button>
    <ion-segment-button value="similar">Similar</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'thisArtist'">
        <ion-row justify-content-center>
          <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>       
            <ion-card>
                <img src="{{artistImg}}" onerror="this.src='../../assets/imgs/imgNotFound.png'" height="300" width="300"/>
                <ion-card-content (tap)="showMoreLess()">
                  <ion-card-title>{{artistInfo.name}}</ion-card-title>
                  <p>{{bio}}</p>
                  <br/>
                  <button ion-button block outline>{{showTgl}}</button>
                </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <br/><br/>
        <ion-item-group>
          <ion-item-divider color="light">Top Albums</ion-item-divider>
            <ion-item text-wrap>
              <ion-slides pager>
                <ion-slide *ngFor="let album of topAlbums">
                  <br/>
                  <ion-card id="album-card" (tap)="viewAlbum(album.name)">
                    <img src="{{album.image[3]['#text']}}" onerror="this.src='../../assets/imgs/imgNotFound.png'">
                    <ion-card-content>
                      <label>{{album.name}}</label>
                    </ion-card-content>
                  </ion-card>
                  <br/>
              </ion-slide>
            </ion-slides>
          </ion-item>
        </ion-item-group>
        <br/><br/>

        <ion-item-group>
            <ion-item-divider color="light">Top Tracks</ion-item-divider>
            <button ion-item text-wrap *ngFor="let track of topTracks; let i = index" (click)="presentActionSheet(track.artist.name, track.name)">{{i + 1}}. {{track.name}}</button>
        </ion-item-group>
    </div>
  
    <ion-grid *ngSwitchCase="'similar'">
      <ion-row justify-content-center>
        <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let similarArtist of similarArtists">
          <ion-card>
            <img src="{{similarArtist.image[4]['#text']}}" onerror="this.src='../../assets/imgs/imgNotFound.png'" height="300" width="300"/>

            <ion-card-content>
              <ion-card-title>{{similarArtist.name}}</ion-card-title>
              <button ion-button icon-end block (click)="viewArtist(similarArtist.name)" class="view-artist">
                  View
                  <ion-icon name="arrow-forward"></ion-icon> 
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
