<ion-header>
  <ion-navbar>
    <ion-title>Charts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshCharts($event)">
      <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-item>
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="playlistID" (ionChange)="loadDeezerCharts()">
          <ion-option value="{{cp.id}}" *ngFor="let cp of countryPlaylists">{{cp.name}}</ion-option>
      </ion-select>
  </ion-item>

  <br/> 

  <ion-list>
    <button ion-item text-wrap (click)="viewArtist(track.artist.name)" *ngFor="let track of topTracks">
      <ion-avatar item-start>
        <img src="{{track.album.cover_medium}}">
      </ion-avatar>
      <h2>{{track.title}}</h2>
      <p>{{track.artist.name}}</p>
    </button>
  </ion-list>
</ion-content>
