<ion-header>
  <ion-navbar>
    <ion-title>Charts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher class="refresher" (ionRefresh)="refreshCharts($event)">
      <ion-refresher-content
          pullingIcon="refresh-circle"
          pullingText="Pull to refresh"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-item>
      <ion-label>Select a Country</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="playlistID" (ionChange)="loadChartInformation()">
          <ion-option value="{{country.playlist_id}}" *ngFor="let country of countries">{{country.name}}</ion-option>
      </ion-select>
  </ion-item>

  <br/> 

  <ion-list>
    <button ion-item text-wrap (click)="viewArtist(track.artist.name)" (press)="showActionSheet(track.artist.name, track.title)" *ngFor="let track of charts">
      <ion-avatar item-start>
        <img src="{{track.album.cover_medium}}" onerror="this.src='../../assets/imgs/placeholder.png'">
      </ion-avatar>
      <h2>{{track.title}}</h2>
      <p>{{track.artist.name}}</p>
    </button>

    <br/>
    
    <!-- Since Deezer say i have to show their logo if i wanna use their stuff: https://developers.deezer.com/guidelines/logo -->
    <ion-item id="dzlogo" [hidden]="chartsNotLoaded">
      <img src="../../assets/imgs/deezer-logo.png"/>
    </ion-item>
  </ion-list>

</ion-content>
