page-charts {
    .item p {
        color: #488aff;
        opacity: 0.85;
    }
    
    #dzlogo {
        width: 150px; 
        height: 35px;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 2.5%;
        margin-bottom: 1.5%;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }
}
